/*Maak hier jouw CSS!*/

.container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px 190px 100px auto 50px;
    grid-template-areas:
                "header c c"
                "main c c"
                "main e d"
                "main e ."
                "footer footer footer";
}