/*Maak hier jouw CSS!*/

.container {
    display: grid;
    border: 1px solid black;
    padding: 20px;
    background-color: #f5deb3;
    grid-gap: 16px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px 190px 100px auto 50px;
    grid-template-areas:
                "header c c"
                "main c c"
                "main e d"
                "main e ."
                "footer footer footer";

}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #a52a2a;
    color: #ffffff;
}

#header {
    background-color: hsl(1, 50%, 48%);
    grid-area: header;
}

#main {
    background-color: hsl(1, 50%, 48%);
    grid-area: main;
}

#aside-c {
    background-color: hsl(1, 50%, 48%);
    grid-area: c;
}

#aside-d {
    background-color: hsl(1, 50%, 48%);
    grid-area: d;
}

#aside-e {
    background-color: hsl(1, 50%, 48%);
    grid-area: e;
}

#footer {
    background-color: hsl(1, 50%, 48%);
    grid-area: footer;
}